.wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ededed;
    border-radius: 5px;
    margin-top: 1rem;
    max-width: 60%;
    margin: 0 auto;
    min-width: 600px;

    .formControl {
        display: flex;
        flex-direction: column;

        label {
            color: gray;
            margin-bottom: 5px;
        }

        input {
            padding: 0.5rem 1rem;
            border: 1px solid gray;
            margin-right: 1rem;
            outline: none;
        }
    }

    .user {
        display: flex;
        margin-bottom: 2rem;
    }
    
    .comment {
        display: flex;
    }
    
    .controls {
        display: flex;
    }
}

