.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    p {
        color: var(--clr-purple-2);
        padding: 1rem 1.5rem;
        font-size: 36px;
        line-height: 42px;
        font-weight: 500;
        margin: 0;
    }
}