.InputField {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0.5rem auto;
    width: 400px;

    label {
        color: gray;
        margin-bottom: 5px;
        font-size: 24px;
        line-height: 27px;
    }

    ._lower_label {
        font-size: 12px;
        color: rgb(196, 14, 14);
    }

    input {
        padding: 0.5rem 1rem;
        border: 1px solid gray;
        border-radius: 5px;
    }
}