.article__content {
    display: flex;
    flex-direction: column;
    padding: 0 24px 0 0;
    width: 100%;
    height: 182px;

    .article__title {
        line-height: 150%;
        margin: 0;
        color: #58007b;
        width: 80%;
        margin-bottom: 1rem;
    }

    .article__annotation {
        color: #737373;
    }

    .article__footer {
        display: flex;
        align-items: center;
        margin-top: auto;

        .article__date {
            margin-right: 32px;
            font-size: 12px;
            font-family: Roboto, sans-serif;
            color: #4a4a4a;
            line-height: 27px;
        }
    }
}

.article__image {
    overflow: hidden;
    border-radius: 8px;

    img {
        max-width: 288px;
    }        
}
    