.header_profile {
    padding: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;

    .profile_username {
      color: var(--clr-grey-1);
      font-size: 16px;
    }

    .profile_image_container {
      
      margin: 0 1rem;

      img {
        object-fit: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    

}
