.article__container {
    display: block;
    padding: 1rem;
    
    a {
        text-decoration: none;
    }
    
    .ArticleElement {
        padding: 16px;
        border-radius: 8px;
        transition: all .2s ease-in-out;
        position: relative;
        bottom: 0;
        display: flex;
        height: 192px;
        width: 70%;

        :not(:first-child) {
        margin-top: -5px;
        }

        &:hover{
        cursor: pointer;
        box-shadow: 0 8px 24px rgba(0,0,0,.12);
        bottom: 3px;
        }

        .article__content {
            display: flex;
            flex-direction: column;
            padding: 0 24px 0 0;
            width: 100%;
            height: 182px;

            .article__title {
                line-height: 150%;
                margin: 0;
                color: #58007b;
                width: 80%;
                margin-bottom: 1rem;
            }

            .article__annotation {
                color: #737373;
                line-height: 150% !important;
            }

            .article__footer {
                display: flex;
                align-items: center;
                margin-top: auto;

                .article__date {
                    margin-right: 32px;
                    font-size: 12px;
                    font-family: Roboto, sans-serif !important;
                    color: #4a4a4a !important;
                    line-height: 27px !important;
                }
            }
        }

        .article__image {
            overflow: hidden;
            border-radius: 8px;

            img {
                max-width: 288px;
              }        
        }
    }
    
}
