.Counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;

    button {
        background-color: var(--clr-pink-1);
        color: var(--clr-white);
        padding: 0.5rem;
        border-radius: 0.25rem;
        border: none;
        margin: 0.25rem;
    }

    p {
        margin: 0.25rem;
    }

    .counter__message {
        margin: .5rem;
        color: green;
    }

    .counter__err {
        margin: .5rem;
        color: red;
    }
}