.headerTop {
    background: var(--clr-white);
    padding: 1em;
    height: 80px;
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        width: 100%;

        ul {
            list-style-type: none;
        }
    
        ._links {
            display: flex;
        }
    
        a {
            color: var(--clr-grey-1);
            display: block;
            padding: 0 1rem;
            text-decoration: none;
        }

        ._logo {
            background-position: 50%;
            height: inherit;
            display: block;
            width: 80px;
            background-size: contain;
            background-image: url('../../../assets/love.png');
        }

        ._buttons_container {
            display: flex;
            justify-content: space-between;
        }
    }  
}


