:root {
  --clr-purple-1: rgb(179, 170, 230);
  --clr-purple-2: rgb(112, 61, 180);
  --clr-purple-3: rgb(135, 73, 216);
  --clr-purple-4: rgb(86, 28, 112);
  --clr-white: #fff;
  --clr-grey-1: rgb(114, 114, 114);
  --clr-pink-1: rgb(218, 97, 187);
}

.App {

    .app__container {
        max-width: 1224px;
        margin: 0 auto;
      }
  
}
