.NavBar {
    // margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-purple-2);
    
    ul {
        list-style-type: none;
    }

    .NavBar__links {
        display: flex;
    }

    li {
        color: var(--clr-white);
        display: block;
        padding: 0.5rem 1rem;
        font-weight: bold;
    }

    a {
        color: var(--clr-white);
        text-decoration: none;
    }
}
